services:
    - Wame\RestApiModule\Router\RestApiRouteList

    - Wame\RestApiModule\Loaders\RepositoryAnnotationRestApiLoader
    - Wame\RestApiModule\Loaders\MapRestApiLoader
    restApiApplication:
        class: Wame\RestApiModule\RestApiApplication
        setup:
        - addRouteLoader(@Wame\RestApiModule\Loaders\RepositoryAnnotationRestApiLoader)
        - addRouteLoader(@Wame\RestApiModule\Loaders\MapRestApiLoader)

    restApiDataConverter:
        class: Wame\RestApiModule\DataConverter\RestApiDataConverter
        setup:
        - add(Wame\RestApiModule\DataConverter\ObjectDataConverter())
        - add(Wame\RestApiModule\DataConverter\ArrayDataConverter())	
        - add(Wame\RestApiModule\DataConverter\DateDataConverter())
        - add(Wame\RestApiModule\DataConverter\DoctrineProxyDataConverter())
        - add(Wame\RestApiModule\DataConverter\FileUploadDataConverter())